<app-navbar [title]="'Ticketing'"></app-navbar>
<div class="tap-section-repport row  mt-2 cards g-3">
  <div class="contente d-flex justify-content-between align-items-center mb-2">
    <div class="contenus d-flex align-items-center">
      <i class="user fa-solid fa-user"></i>
      <div class="prof">
        <h2>Adama Gueye</h2>
        <h6>N° Dossier: N099292 </h6>
      </div>
    </div>
    <button class="btn-dossier">Dossiers</button>
  </div>
</div>


<div class="bg-white shadow-sm rounded-3 p-3  mt-3">

  <div class="row">
    <div class="col-4  ">
      <div class="box-ticket" (click)="detailTicket()">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <button class="open">Ouvrir un ticket</button>
    </div>
    <div class="col-8 ">
      <div class="titre-line">
        <h5>Detail d'un ticket</h5>
      </div>
      <div class=" row  mt-3 ">
        <div class="detai-box col-4 mb-3 ">
          <h5>demandeur</h5>
          <h6>adama gueye</h6>
        </div>
        <div class="detai-box col-4 mb-3">
          <h5>Objet demande</h5>
          <h6>assistance techniqie</h6>
        </div>
        <div class="detai-box col-4 mb-3">
          <h5>Date d'ouvertue</h5>
          <h6>12/02/2023</h6>
        </div>
        <div class="detai-box col-4 mb-3">
          <h5>heure</h5>
          <h6>8h-13h</h6>
        </div>
        <div class="detai-box col-4 mb-3">
          <h5>Numero Référence</h5>
          <h6>2833943</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mb-3">
          <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              defaultValue="eqfdleqfnqekljfdkj"></textarea>
          </div>
        </div>
        <div class="col-6 mb-3">
          <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Audio</label>
            <figure class="d-flex align-content-between align-items-center">
              <audio controls src="assets/son/test-audio.ogg">
                <a href="assets/son/test-audio.ogg">
                  Download audio
                </a>
              </audio>
            </figure>
          </div>
        </div>
        <div class="box-icons-detail d-flex col-12 ">
          <div class="imgs d-flex flex-column me-3">
            <img src="assets/images/folder 1.png" alt="" width="20px">
            <a href="javascript:(0)">telecharger</a>
          </div>
          <div class="doc d-flex flex-column">
            <img src="assets/images/picture 1.png" alt="" width="20px">
            <a href="javascript:(0)">telecharger</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>