<div class="wrapper-guest">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="form-container">
          <img
            src="assets/images/logo-adie.png"
            id="logo"
            alt="Sénégal Numérique"
            width="220px"
            class="img-fluid"
          />

          <router-outlet></router-outlet>
        </div>
      </div>

      <div class="description col-sm-6 d-none d-lg-block">
        <div class="contenu">
          <h4 class="first">UNE SOLUTION UNIQUE</h4>
          <h4>POUR TOUTES VOS</h4>
          <h4>OPÉRATIONS</h4>
        </div>
      </div>
    </div>
  </div>
</div>
