<app-navbar [title]="'Ticketing'"></app-navbar>

<div class="tap-section-repport row  mt-2 cards g-3">
  <div class="contente d-flex justify-content-between align-items-center mb-2">
    <div class="contenus d-flex align-items-center">
      <i class="user fa-solid fa-user"></i>
      <div class="prof">
        <h2>Adama Gueye</h2>
        <h6>N° Dossier: N099292 </h6>
      </div>
    </div>
    <button class="btn-dossier">Dossiers</button>
  </div>
</div>

<div class="bg-white shadow-sm rounded-3 p-3  mt-3">
  <div class="row">
    <div class="col-lg-4">
      <div class="box-ticket" (click)="detailTicket()">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <div class="box-ticket">
        <div class=" d-flex align-items-center">
          <i class="icons-box fa-sharp fa-regular fa-circle-check fa-2x"></i>
          <div class="detail">
            <h4> ticket 06</h4>
            <h6>Samedi 12 janvier 2023</h6>
          </div>
        </div>
      </div>
      <button class="open">Ouvrir un ticket</button>
    </div>
    <div class="col-lg-8">
      <div class="row g-3">
        <div class="titre-line mb-3">
          <h5>Ouvrir d'un ticket</h5>
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-6">
          <label for="exampleFormControlInput1" class="form-label">Objet demande</label>
          <input type="text" class="form-control" placeholder="objet">
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div class="col-6">
          <div class=" mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Audio</label>

           <div style="display: flex;gap: 2px;">
              <button mat-raised-button (click)="startRecording()" type="button" class="audio-action"><i class="fa fa-microphone"></i> Démarrer</button>
              <button mat-raised-button (click)="stopRecording()" type="button" class="audio-action"><i class="fa fa-stop-circle text-danger"></i> Arreter</button>
           </div>
            
            <audio *ngFor="let audio of audioFiles" controls='true' [src]="audio"></audio>
          </div>
        </div>
        <div class="erea input-group">
          <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
            aria-label="Upload">
        </div>

        <div class="mt-4">
          <button class="save-ticket">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</div>