
<div class="login-all ">

  <div class=" d-flex row">
    <div class="contante-login col-sm-6">

       <div class="box  ">
      <div class="box-containte ">
        <div class="img-login mb-3 d-flex align-items-center justify-content-center mb-4">
          <img src="../../../../assets/images/logo-login.png " alt="">
        </div>
      <div class="titre d-flex align-items-center justify-content-center mb-4">

        <h3>Connexion</h3>
      </div>

        <p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix><i ></i></mat-icon>
          </mat-form-field>
        </p>
        <div class="mdo d-flex align-items-center justify-content-end">
          <h3>Mot de passe oublié</h3>
        </div>
        <button class="btn-login" routerLink="/dashboard">
          Se connecter
        </button>


      </div>
       </div>

    </div>
    <div class="description col-sm-6">
      <div class="contenu">
       <h4 class="first">UNE SOLUTION UNIQUE</h4>
       <h4>POUR TOUTES VOS </h4>
       <h4>OPÉRATIONS</h4>
      </div>
   </div>
    
  </div>
</div>
